/.vs
/Backend/Services/Accounts/.vs
/Backend/Services/Measurement/.vs
/Backend/Core/.vs

/Backend/OLD SCACAR

/Backend/Core/Skyrmium.Infrastructure.Contracts/bin
/Backend/Core/Skyrmium.Dal.Contracts/bin
/Backend/Core/Skyrmium.Dal.Implementations/bin
/Backend/Core/Skyrmium.Domain.Contracts/bin
/Backend/Core/Skyrmium.Domain.Implementations/bin
/Backend/Core/Skyrmium.Domain.Services.Contracts/bin
/Backend/Core/Skyrmium.Domain.Services.Implementations/bin
/Backend/Core/Skyrmium.Adapters.Contracts/bin
/Backend/Core/Skyrmium.Adapters.Implementations/bin
/Backend/Core/Skyrmium.Api.Contracts/bin
/Backend/Core/Skyrmium.Api.Implementations/bin
/Backend/Core/Skyrmium.IoC/bin

/Backend/Services/Accounts/Skyrmium.Equivalent.Accounts.Api/bin
/Backend/Services/Accounts/Skyrmium.Equivalent.Accounts.Domain.Entities/bin
/Backend/Services/Measurement/Skyrmium.Equivalent.Measurement.Api/bin
/Backend/Services/Measurement/Skyrmium.Equivalent.Measurement.Domain.Entities/bin
/Backend/Services/Measurement/Skyrmium.Equivalent.Measurement.Domain.Services.Contracts/bin
/Backend/Services/Measurement/Skyrmium.Equivalent.Measurement.Domain.Services.Implementations/bin
/Backend/Services/Measurement/Skyrmium.Equivalent.Measurement.Dal/bin
/Backend/Services/Measurement/Skyrmium.Equivalent.Measurement.Adapters/bin
/Backend/Services/Measurement/Skyrmium.Equivalent.Measurement.Ioc/bin

/Backend/Core/Skyrmium.Infrastructure.Contracts/obj
/Backend/Core/Skyrmium.Dal.Contracts/obj
/Backend/Core/Skyrmium.Dal.Implementations/obj
/Backend/Core/Skyrmium.Domain.Contracts/obj
/Backend/Core/Skyrmium.Domain.Implementations/obj
/Backend/Core/Skyrmium.Domain.Services.Contracts/obj
/Backend/Core/Skyrmium.Domain.Services.Implementations/obj
/Backend/Core/Skyrmium.Adapters.Contracts/obj
/Backend/Core/Skyrmium.Adapters.Implementations/obj
/Backend/Core/Skyrmium.Api.Contracts/obj
/Backend/Core/Skyrmium.Api.Implementations/obj
/Backend/Core/Skyrmium.IoC/obj

/Backend/Services/Accounts/Skyrmium.Equivalent.Accounts.Api/obj
/Backend/Services/Accounts/Skyrmium.Equivalent.Accounts.Domain.Entities/obj
/Backend/Services/Measurement/Skyrmium.Equivalent.Measurement.Api/obj
/Backend/Services/Measurement/Skyrmium.Equivalent.Measurement.Domain.Entities/obj
/Backend/Services/Measurement/Skyrmium.Equivalent.Measurement.Domain.Services.Contracts/obj
/Backend/Services/Measurement/Skyrmium.Equivalent.Measurement.Domain.Services.Implementations/obj
/Backend/Services/Measurement/Skyrmium.Equivalent.Measurement.Dal/obj
/Backend/Services/Measurement/Skyrmium.Equivalent.Measurement.Adapters/obj
/Backend/Services/Measurement/Skyrmium.Equivalent.Measurement.Ioc/obj

/GitExtensions.settings
