*.vs

/src/Core/Skyrmium.Infrastructure.Contracts/bin
/src/Core/Skyrmium.Dal.Contracts/bin
/src/Core/Skyrmium.Dal.Implementations/bin
/src/Core/Skyrmium.Domain.Contracts/bin
/src/Core/Skyrmium.Domain.Implementations/bin
/src/Core/Skyrmium.Domain.Services.Contracts/bin
/src/Core/Skyrmium.Domain.Services.Implementations/bin
/src/Core/Skyrmium.Adapters.Contracts/bin
/src/Core/Skyrmium.Adapters.Implementations/bin
/src/Core/Skyrmium.Api.Contracts/bin
/src/Core/Skyrmium.Api.Implementations/bin
/src/Core/Skyrmium.IoC/bin
/src/Core/Skyrmium.Localization.Contracts/bin
/src/Core/Skyrmium.Localization.Abstractions/bin

/src/Services/Accounts/Skyrmium.Equivalent.Accounts.Api/bin
/src/Services/Accounts/Skyrmium.Equivalent.Accounts.Domain.Entities/bin

/src/Services/Measurement/Backend/Skyrmium.Equivalent.Measurement.Api/bin
/src/Services/Measurement/Backend/Skyrmium.Equivalent.Measurement.Api.Dtos/bin
/src/Services/Measurement/Backend/Skyrmium.Equivalent.Measurement.Domain.Entities/bin
/src/Services/Measurement/Backend/Skyrmium.Equivalent.Measurement.Domain.Services.Contracts/bin
/src/Services/Measurement/Backend/Skyrmium.Equivalent.Measurement.Domain.Services.Implementations/bin
/src/Services/Measurement/Backend/Skyrmium.Equivalent.Measurement.Dal/bin
/src/Services/Measurement/Backend/Skyrmium.Equivalent.Measurement.Adapters/bin
/src/Services/Measurement/Backend/Skyrmium.Equivalent.Measurement.Startup/bin

/src/Core/Skyrmium.Infrastructure.Contracts/obj
/src/Core/Skyrmium.Dal.Contracts/obj
/src/Core/Skyrmium.Dal.Implementations/obj
/src/Core/Skyrmium.Domain.Contracts/obj
/src/Core/Skyrmium.Domain.Implementations/obj
/src/Core/Skyrmium.Domain.Services.Contracts/obj
/src/Core/Skyrmium.Domain.Services.Implementations/obj
/src/Core/Skyrmium.Adapters.Contracts/obj
/src/Core/Skyrmium.Adapters.Implementations/obj
/src/Core/Skyrmium.Api.Contracts/obj
/src/Core/Skyrmium.Api.Implementations/obj
/src/Core/Skyrmium.IoC/obj
/src/Core/Skyrmium.Localization.Contracts/obj
/src/Core/Skyrmium.Localization.Abstractions/obj

/src/Services/Accounts/Skyrmium.Equivalent.Accounts.Api/obj
/src/Services/Accounts/Skyrmium.Equivalent.Accounts.Domain.Entities/obj

/src/Services/Measurement/Backend/Skyrmium.Equivalent.Measurement.Api/obj
/src/Services/Measurement/Backend/Skyrmium.Equivalent.Measurement.Api.Dtos/obj
/src/Services/Measurement/Backend/Skyrmium.Equivalent.Measurement.Domain.Entities/obj
/src/Services/Measurement/Backend/Skyrmium.Equivalent.Measurement.Domain.Services.Contracts/obj
/src/Services/Measurement/Backend/Skyrmium.Equivalent.Measurement.Domain.Services.Implementations/obj
/src/Services/Measurement/Backend/Skyrmium.Equivalent.Measurement.Dal/obj
/src/Services/Measurement/Backend/Skyrmium.Equivalent.Measurement.Adapters/obj
/src/Services/Measurement/Backend/Skyrmium.Equivalent.Measurement.Startup/obj

/GitExtensions.settings
*.user
