/.vs
/Skyrmium.Dal.Contracts/.vs
/Skyrmium.Dal.Contracts/bin
/Skyrmium.Dal.Contracts/obj
/Skyrmium.DomainModel.Entities.Contracts/.vs
/Skyrmium.DomainModel.Entities.Contracts/bin
/Skyrmium.DomainModel.Entities.Contracts/obj
/Skyrmium.Equivalent.DomainModel.Entities/.vs
/Skyrmium.Equivalent.DomainModel.Entities/bin
/Skyrmium.Equivalent.DomainModel.Entities/obj
/Skyrmium.Infrastrucure.Contracts/.vs
/Skyrmium.Infrastrucure.Contracts/bin
/Skyrmium.Infrastrucure.Contracts/obj
EntitiesTests/.vs
/EntitiesTests/obj
/EntitiesTests/bin
